/* nav */
.navbar-nav a{
  font-size: 18px; ;
}
/* .card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card-img {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .card-img {
    height: 250px;
  }
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1.2rem;
} */